* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; 
    background: linear-gradient(to right, rgb(236, 217, 217), rgb(256,236,188),rgb(235, 221, 175), rgb(240, 203, 147));
}

.header {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-image: url("../img/header.png");
    border-top-left-radius: 15px;
    margin: auto auto;
    margin-top: 13px;
    width: 80%;
    height: 140px;
}

.brand {
    font-size: 29px;
    color: rgb(199, 93, 44);
}

.brand h1 {
    margin-top: 4px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto auto;
    width: 80%;
}

.add-item{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 42px;
}

#campo-texto {
    margin: auto auto;
    font-size: 22px;
    flex: 78%;
    min-width: 30%;
    height: 42px;
}

.btn-add {
    margin: auto auto;
    flex: 22%;
    height: 42px;
    border-bottom-right-radius: 10px;
    background: rgb(26, 121, 17);
    color: rgb(238, 238, 238);
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.animation {
    display: none;
    position:absolute;
    margin-left: 525px;
    margin-top: 15px;
    width: 7%;
    height: 90px;
}

.animation.on {
    display: block;
}

.quadros {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.quadro-lista {
    flex:78%;
    max-width: 78%;
    margin-right: 10px;
}

.quadro-soma {
    flex: 20%;
}

.lista {
    border-radius: 15px;
    min-height: 230px;
    background-image: url("../img/fundo-lista.png");
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.soma {
    background: rgb(231, 215, 126);
    border-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.valorTotal {
    display: flex;
    flex-flow: row wrap;
    font-size: 26px;
    justify-content: center;
    width: 100%;
    min-height: 100px;
}

.valor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content:flex-start;
    min-width: 70%;
    min-height: 65px;
    margin-top: 5px;
}

.butaoTotal {
    display: flex;
    flex-flow: row wrap;
    margin-top: 34px;
    margin-bottom: 0;
    border-radius: 15px;
    width: 100%;
    height: 52px;
}

.butaoTotal button {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    background: rgb(209, 39, 33);
    color: rgb(212, 211, 211);
    border-bottom-right-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.titulo-compras {
    display: flex;
    flex-flow: row wrap;
    background: rgb(150, 89, 40);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid black;
    width: 100%;
    height: 42px;
}

.titulo-compras h2 {
    display: flex;
    margin: auto auto;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: rgb(230, 184, 70);
}

.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: rgb(231, 215, 126);
    height: 38px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.item.clicado {
    background: rgb(202, 185, 90);
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: rgb(82, 79, 79);
}

.item-icone {
    flex: 5%;
    text-align: center;
    font-size: 28px;
    color: rgb(192, 165, 114);
}

.item-nome {
    flex: 80%;
    font-size: 20px;
    font-weight:530;
    border-right: rgb(199, 147, 15);
    border-left: rgb(199, 147, 15);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-botao {
    flex: 15%;
}

.delete {
    justify-content: end;
    background: rgb(209, 39, 33);
    color: rgb(211, 206, 206);
    font-size: 14px;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 38px;
}

.mdi-checkbox-marked {
    color: rgb(26, 121, 17);
}

.popup {
    display: none;
    position: absolute;
    width: 45%;
    min-height: 200px;
    font-size: 26px;
    margin: 50px 200px;
    text-align: center;
    color: rgb(231, 190, 87);
    background: rgb(150, 89, 40);
    border-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.popup.on {
    display: block;
}

.preco {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

#campo-preco {
    width: 65%;
    min-height: 42px;
    font-size: 22px;
    margin: 0;
}

.btn-preco {
    width: 25%;
    min-height: 43px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(212, 211, 211);
    background: rgb(26, 121, 17);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.rodape {
    width: 100%;
    height: 70px;
}

@media screen and (max-width: 881px) {
    .valorTotal {
        font-size: 22px;
    }
}

@media screen and (max-width: 772px) {
    .header {
        height: 120px;
    }
    .brand {
        margin-top: 13px;
    }
    .brand h1 {
        font-size: 48px;
    }
    .main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .add-item {
        height: 80px;
    }

    .valorTotal {
        font-size: 20px;
    }
}

@media screen and (max-width: 691px) {
    .valorTotal {
        font-size: 16px;
    }
}

@media screen and (max-width: 564px) {
    .valorTotal {
        font-size: 14.5px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 100px;
    }
    .brand {
        margin-top: 30px;
    }
    .brand h1 {
        font-size: 34px;
    }

    .quadro-soma {
        margin-left: 3px;
    }

    .titulo-compras h2 {
        font-size: 32px;
    }
    .quadros {
        flex-wrap: wrap;
    }

    .quadro-lista {
        min-width: 100%;
        margin-right: none;
    }

    .valorTotal {
        font-size: 24px;
    }
}

@media screen and (max-width: 319px) {
    .brand {
        margin-top: 40px;
    }

    .brand h1 {
        font-size: 30px;
    }

    .titulo-compras h2 {
        font-size: 22px;
    }
}